* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

table,
th,
td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

th {
  height: 80px;
}

td {
  width: 130px;
  height: 20px;
}
